$bg-main-color: #201b2c;
$title-color: #77ffc0;
$bg-login-color: #2f2841;
$title-login-color: #00ff88;
$bg-input-color: #514869;
$input-color: #f0ffffde;
$placeholder-color: #f0ffff94;
$button-color: #2b134b;